.am-list-item .am-list-line .am-list-content {
    font-size: 10px;
    word-wrap: break-word;
    word-break: normal;
}

.am-list-item .am-list-line .am-list-content {
    white-space: normal;
}


.liseDesc {
    word-wrap: break-word;
    word-break: normal;
    font-size: 10px;
    width: 100%;
    height: 100%;
}
